* {
  font-family: 'Roboto', sans-serif;
}

/* navbar */
.text-brand {
  color: #118ab2;
}
.link-brand {
  text-decoration: none;
}
.logout {
  color: #a4133c;
  text-decoration: none;
}
.logout:hover {
  color: #a4133c;
  cursor: pointer;
  font-weight: bolder;
}

/* sidebar */
.sidebar {
  border-radius: 20px;
  padding: 5%;
  border: none;
  display: table;
  width: 100%;
}
.sidebar .card-body {
  display: table-cell;
  vertical-align: middle;
}
.sidebar .card-body .row {
  margin-bottom: 20px;
  color: #118ab2;
  padding: 10px;
  border-radius: 20px;
}
.bold-text {
  font-weight: bolder;
  color: #fff !important;
  background-color: #118ab2;
  border-radius: 30px;
  padding: 15px;
  text-align: center;
}
.list-data {
  text-decoration: none;
  color: #118ab2;
}

/* body */
.body-element {
  border-radius: 20px;
  border: none;
  min-height: 74vh;
}

/* dashboard */
.title-dashboard {
  color: #118ab2;
}
.img-dashboard {
  height: 200px;
}
.title-login {
  font-weight: 600;
}
.card-login {
  border-radius: 20px;
  border: none;
  background-color: #118ab2;
  color: #fff;
}
.img-login {
  width: 200px;
}
.btn-login {
  background: linear-gradient(to right, #073b4c 50%, #fff 50%);
  color: #000;
  margin-top: 20px;
  background-size: 200% 100%;
  background-position: right bottom;
  border-radius: 17px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  transition: all 0.5s ease-out;
}
.btn-login:hover {
  color: #fff;
  background-position: left bottom;
}
